body{
    width: 99%;
    background-color: rgb(180, 176, 176);
}
.header{
    display: flex;
    justify-content: center;
    
}
.navbar{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}